<settings>
	<category label="General">
		<setting visible="true" id="CoinImg1" type="labelenum" label="Imagen: Jugador 1" values="Festa-1|Festa-2|Negro|Rojo|"             default="Festa-1"/>
		<setting visible="true" id="CoinImg2" type="labelenum" label="Imagen: Jugador 2" values="Festa-1|Festa-2|Negro|Rojo|"             default="Festa-2"/>
		<setting visible="true" id="BackgroundImg" type="labelenum" label="Imagen de Fondo: " values="Mesa|Fondo-Negro"             default="Mesa"/>
		<setting visible="true" id="SFX" 	type="bool" label="Efecto de Sonido" default="true" />
		<setting visible="true" id="debug-enable" 	type="bool" label="Habilitar depuración en archivo" default="false" />
		<setting visible="true" id="debug-show" 		type="bool" label="Habilitar la depuración para avisar(s)" default="false" />
	</category>
	<category label="Game">
		<setting visible="true" id="name-Player1" type="text" 	label="[COLOR grey]Nombre Jugador 1[/COLOR]" 			default="Jugador 1" />
		<setting visible="true" id="color-Player1" type="text" 	label="[COLOR grey]Color Texto Jugador 1[/COLOR]" default="Negro" />
		<setting visible="true" id="wins-Player1" type="number" label="[COLOR grey]Victorias Jugador 1[/COLOR]" 			default="0" />
		<setting visible="true" id="name-Player2" type="text" 	label="[COLOR red]Nombre Jugador 2[/COLOR]" 				default="Jugador 2" />
		<setting visible="true" id="color-Player2" type="text" 	label="[COLOR red]Color Texto Jugador 2[/COLOR]" 	default="Rojo" />
		<setting visible="true" id="wins-Player2" type="number" label="[COLOR red]Victorias Jugador 2[/COLOR]" 				default="0" />
		<setting visible="true" id="color-RowZero" type="text" 	label="[COLOR silver]Text Color of Buttons[/COLOR]"	default="silver" />
		<setting visible="true" id="button-text1" type="text" 	label="[COLOR lime]*[/COLOR]" 	default="*" />
		<setting visible="true" id="button-text2" type="text" 	label="[COLOR lime]F[/COLOR]" 	default="F" />
		<setting visible="true" id="button-text3" type="text" 	label="[COLOR lime]E[/COLOR]" 	default="E" />
		<setting visible="true" id="button-text4" type="text" 	label="[COLOR lime]S[/COLOR]" 	default="S" />
		<setting visible="true" id="button-text5" type="text" 	label="[COLOR lime]T[/COLOR]" 	default="T" />
		<setting visible="true" id="button-text6" type="text" 	label="[COLOR lime]A[/COLOR]" 	default="A" />
		<setting visible="true" id="button-text7" type="text" 	label="[COLOR lime]*[/COLOR]" 	default="*" />
		<setting visible="true" id="game-msg1a" type="text" 	label="Text: 1a" 	default="Ranura Completa" />
		<setting visible="true" id="game-msg1b" type="text" 	label="Text: 1b" 	default="Probar Una Ranura Diferente" />
		<setting visible="true" id="game-msg2a" type="text" 	label="Text: 2a" 	default="!! El Juego Ha Terminado !!" />
		<setting visible="true" id="game-msg2b" type="text" 	label="Text: 2b" 	default="No Hay Mas Movimientos Posibles." />
		<setting visible="false" id="game-msg3a" type="text" 	label="" 	default="" />
		<setting visible="false" id="game-msg3b" type="text" 	label="" 	default="" />
		<setting visible="false" id="game-msg4a" type="text" 	label="" 	default="" />
		<setting visible="false" id="game-msg4b" type="text" 	label="" 	default="" />
		<setting visible="false" id="game-msg5a" type="text" 	label="" 	default="" />
	</category>
</settings>